<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <!-- reset all previous level configurations of all j.u.l. loggers -->
        <resetJUL>true</resetJUL>
    </contextListener>

    <!-- appenders -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <!-- By default, encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%-15.-15thread] %highlight(%-5.-5level) %cyan(%45.45logger{45}):\t%msg %n</pattern>
        </encoder>
    </appender>

    <!-- logger levels -->
    <logger name="sun" level="warn"/>
    <logger name="com" level="warn"/>
    <logger name="org" level="warn"/>
    <logger name="org.springframework" level="info"/>
    <logger name="com.fprochazka" level="debug"/>

    <!-- root -->
    <root>
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
